@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "menu menu menu menu"
        "resultados resultados resultados resultados"
        "filmes filmes filmes filmes"
        "filmes filmes filmes filmes"
        " footer footer footer footer";

    gap: 2rem;

    background-color: rgba(20, 20, 20, 1);

}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    grid-area: menu;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(0, 0, 0);
    padding: 1rem;

    border-bottom: 1px solid rgb(148, 147, 147);
}

h1 {
    font-size: 2.5rem;
    color: rgba(229, 9, 20, 1);
    ;
}

.menu-navegação ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(183, 189, 154, 1);

}

li:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.resultados {
    grid-area: resultados;
}

.container {
    grid-area: filmes;

    display: grid;
    grid-template-columns: repeat(7, 11.3rem);
    gap: 2rem;
    padding: 0 2rem;
}

.resultados {
    width: 100%;
    padding: 0 2rem;
    color: white;
    font-size: 1.8rem;
}

img {
    width: 100%;
}

.filmes {}

.card-filmes:hover {
    transition: 200ms;
    transform: scale(1.1);

}

.card-filmes {
    position: relative;
}

.description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    background-color: rgba(29, 29, 29, 0.911);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);

    position: absolute;
    top: 0;


}

.rating {
    font-size: 1rem;
    padding: .4rem;
    position: absolute;
    top: 5px;

}

.description img {
    position: absolute;
    top: 4px;
    width: 35px;

}

.nome-filme {
    font-size: 1.2rem;
}



.resumo {
    font-size: 1.3rem;
    text-align: center;
}

.description span {

    font-size: 1rem;
    color: rgb(177, 177, 177);
}


.btnSinopse {
    position: absolute;
    bottom: 20px;

    width: 9rem;
    padding: .3rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(84, 128, 247, 0.795);

}

.btnSinopse:hover {
    transform: scale(1.1);

}

footer {
    border-top: 1px solid grey;
    padding: 1rem 0;
    grid-area: footer;
    color: white;
    font-size: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;



}

footer a {
    color: white;
    text-decoration: none;

    cursor: pointer;
}

footer img {
    width: 30px;

}

.description-hidden {
    display: none;

}
