@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "menu menu menu menu"
        "resultados resultados resultados resultados"
        "filmes filmes filmes filmes"
        "filmes filmes filmes filmes"
        " footer footer footer footer";

    gap: 2rem;

    background-color: rgba(20, 20, 20, 1);

}

header {
    width: 100%;
    grid-area: menu;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 1rem;

    border-bottom: 1px solid rgb(148, 147, 147);
}

h1 {
    font-size: clamp(3rem, 3.5vw, 4rem);
    color: rgba(229, 9, 20, 1);
    ;

    padding: 0 .5rem;

    border-left: 1px solid rgb(148, 147, 147);
    border-right: 1px solid rgb(148, 147, 147);
}

.menu-navegação ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

li {
    line-break: anywhere;

    list-style: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    ;
    font-weight: bold;
    color: rgba(183, 189, 154, 1);

}

li:hover {
    transform: scale(1.1);
    color: white;
    cursor: pointer;
}

.resultados {
    grid-area: resultados;
    font-size: clamp(1rem, 5vw, 1.8rem);
}

.container {
    grid-area: filmes;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;

    align-items: center;
    padding: 0 1.5rem;
}

.resultados {
    width: 100%;
    padding: 0 2rem;
    color: white;
}

img {
    width: clamp(10rem, 19vw, 20rem);
    padding: .5rem;
}

.filmes {}

.card-filmes:hover {
    transition: 200ms;
    transform: scale(1.3);
    z-index: 1;
}

.card-filmes {
    position: relative;

    width: 100%;
}

.description {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    background-color: rgba(29, 29, 29, 0.911);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);

    position: absolute;
    top: 0;


}

.rating {
    font-size: 1rem;
    padding: .4rem;
    position: absolute;
    top: 5px;

}

.description img {
    position: absolute;
    top: 4px;
    width: 35px;

}

.nome-filme {
    font-size: 1.2rem;
}



.resumo {
    font-size: 1.3rem;
    text-align: center;
}

.description span {

    font-size: 1rem;
    color: rgb(177, 177, 177);
}


.btnSinopse {
    position: absolute;
    bottom: 20px;

    width: 9rem;
    padding: .3rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: rgba(84, 128, 247, 0.795);

}

.btnSinopse:hover {
    transform: scale(1.1);

}

footer {
    border-top: 1px solid grey;
    padding: 1rem 0;
    grid-area: footer;
    color: white;
    font-size: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;



}

footer a {
    color: white;
    text-decoration: none;

    cursor: pointer;
}

footer img {
    width: 30px;

}

.description-hidden {
    display: none;

}

@media (max-width: 768px) {

    .resultados {
        text-align: center;
    }

    .container {
        grid-template-columns: repeat(3, auto);
    }

    header {
        justify-content: center;
    }

    h1 {
    }

    .menu-navegação {
        display: none;
    }

      img{
        width: 100%;
      }
    }

@media (max-width:425px) {
    .container {
        grid-template-columns: auto;
    }
}